body {
  font: 14px "Century Gothic", "Futura", "sans-serif";
  margin: 20px;
}

ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-top: 5px;
  margin-bottom: 10px;
}

.status-end {
  margin-top: 5px;
  margin-left: 4px;
  animation: end-status 0.8s ease-in-out infinite;
  color: red;
}

@keyframes end-status {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.winner {
  margin-left: 12px;
  color: rgb(28, 180, 28);
  animation: winner-status 0.8s ease-in-out infinite;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.moves-history button {
  border: 1px solid;
  margin-bottom: 3px;
}

.moves-history button:hover {
  background-color: rgb(190, 186, 186);
}
